<?xml version="1.0"?>
<!-- works fine with PHPUnit-3.6.10 -->
<phpunit
    bootstrap="./tests/Bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
>
    <testsuite name="DoctrineDataFixture Module Tests">
        <directory>./tests/DoctrineDataFixtureTest</directory>
    </testsuite>
    <logging>
        <log
            type="coverage-clover"
            target="./clover.xml"
        />
    </logging>
</phpunit>